/*
* CSS styling for the Gage O'Laughlin GitHub page.
*/

/* Google Fonts: Poppins, Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:wght@600;700;800;900&display=swap');

/* Fonts, Colors, and other styling */
body {
    max-width: 800px;
    margin: auto;
    font-family: 'Inter', system, system-ui, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

ul li, p {
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', system, system-ui, sans-serif;
    font-weight: 700;
    font-style: normal;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
h5, h6 {
    font-size: 1em;
}

.subtitle {
    font-size: 2em;
    font-weight: 200;
    font-style: italic;
}

/* Layout */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#skills ul li {
    line-height: 2.5;
}

#more-info ul li {
    line-height: 1.5;
}

/* New portfolio website message styling */
#new-website-notice {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    margin: 1rem auto;
    background-color: #ffdf20;
    color: black;
    gap: 1rem;
}
.new-website-notice__message {
    font-weight: 500;
    font-size: 1rem;
}
.new-website-notice__message a {
    color: #155dfc;
}

/* Mobile padding fix */
@media screen and (max-width: 810px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }
}