/*
* CSS styling for the Gage O'Laughlin GitHub page.
*/

/* Inter Font via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    max-width: 800px;
    margin: auto;
    font-family: 'Inter', system, sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul li, p {
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', system, sans-serif;
    font-weight: 700;
    font-style: normal;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
h5, h6 {
    font-size: 1em;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#skills ul li {
    line-height: 2.5;
}

#more-info ul li {
    line-height: 1.5;
}