/* Define the "system" font family
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
*/

/*

Adobe Fonts - Aktiv Grotesk
Normal:
font-family: aktiv-grotesk,sans-serif;
font-weight: 400;
font-style: normal;

Italic:
font-family: aktiv-grotesk,sans-serif;
font-weight: 400;
font-style: italic;

Bold:
font-family: aktiv-grotesk,sans-serif;
font-weight: 700;
font-style: normal;

Bold Italic:
font-family: aktiv-grotesk,sans-serif;
font-weight: 700;
font-style: italic;

*/

body {
    max-width: 800px;
    margin: auto;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul li, p {
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
h5, h6 {
    font-size: 1em;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#skills ul li {
    line-height: 2.5;
}

#more-info ul li {
    line-height: 1.5;
}